@keyframes animacao{
    0% {opacity: 0; }
    25% {opacity: 1;transform: rotate(10Deg);}
    50% {opacity: 0;}
    60%{opacity: 1;transform: rotate(-10Deg);}
    100% {opacity: 1;}
    
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 580px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);

}
h1{
    color: #ffffff;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
h2{
    margin-top: 5px;
    animation-name: animacao;
    animation-duration:  4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.encima{
    color: black;
    background-color: #ffffffbb;
    text-align: center;
    width: 30%;
    height: 35vw;
    border: 3px solid black;
    box-shadow: 3px 2px 4px #33495e;
    transition: 0.8s ease-in;
}
.encima:hover{
    height: 38vw;   
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    
}
#meio{
    color: white;
    text-align: center;
    background-color: #33495ebb;
    width: 30%;
    height: 32vw;
    border: 3px solid black;
    box-shadow: 2px 2px 4px black;
    transition: 1.5s ease-in;
}
#meio:hover{
    height: 38vw; 
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

}
.quests{
    width: 90%;
    height: 75%;
    margin: auto;
    border: 4px double black;
}
input{
    font-size: 22px;
    width: 60%;
    margin: 5px 0;
    padding: 6px;
    text-align: center;
    background-color: #6088c4fb;
}
a{
    margin: 3px;
    color: black;
    text-decoration: none;
}
img{
    width: 35px;

}
footer{
    color: #ffffff;
    text-align: center;
    position: relative;
    top: 10%;
    transform: translateY(-10%);
   
}
#imginside{
    display: flex;
    float: right;
    width: 30px;
    cursor: pointer;
}
ul li{
    width: 95%;
    font-family: cursive;
    font-size: 22px;
    margin: 2px auto;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
    list-style: none;
}
#linker{
    position: fixed;
    top: 2px;
    right: 6px;
}
#sizeicon{
    width: 50px;
}
@media(min-width: 319px) and (max-width: 750px){
   body{
       width: 100%;
       height: 100%;
       margin: auto;
   }
   ul li{
       font-size: 20px;
   }
    #container{
        position: relative;
        left: 4%;
        display: block;
        justify-content: center;
        align-items: center;
        height: 1500px;
    

    }
    .encima{
        color: black;
        background-color: #ffffffbb;
        text-align: center;
        width: 90%;
        height: 150vw;
        border: 3px solid black;
        box-shadow: 3px 2px 4px #33495e;
        transition: 0.8s ease-in;
        margin: 50px 0 50px 0;
    }
    #meio{
        color: white;
        text-align: center;
        background-color: #33495ebb;
        width: 90%;
        height: 120vw;
        border: 3px solid black;
        box-shadow: 2px 2px 4px black;
        transition: 1.5s ease-in;
    }
    .quests{
        width: 78%;
        height: 70%;
        margin: auto;
        border: 2px double black;
        
    }
    input{
        font-size: 18px;
        width: 50%;
        margin: 4px 0;
        padding: 5px;
        text-align: center;
        background-color: #6088c4fb;
    }
} 
@media(min-width: 751px) and (max-width: 980px){
    body{
        width: 100%;
       
        
    }
    ul li{
        font-size: 17px;
    }
    #container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .encima{
        color: black;
        background-color: #ffffffbb;
        text-align: center;
        width: 28%;
        height: 40vw;
        border: 3px solid black;
        box-shadow: 3px 2px 4px #33495e;
        transition: 0.8s ease-in;
    }
    #meio{
        color: white;
        text-align: center;
        background-color: #33495ebb;
        width: 28%;
        height: 40vw;
        border: 3px solid black;
        box-shadow: 2px 2px 4px black;
        transition: 1.5s ease-in;
    }
    .quests{
        width: 90%;
        height: 70%;
        margin: auto;
        border: 4px double black;
    }
    input{
        font-size: 17px;
        width: 40%;
        margin: 5px 0;
        padding: 6px;
        text-align: center;
        background-color: #6088c4fb;
    }

}